<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Colombia</string>
	<string>Argentina</string>
	<string>Mexico</string>
	<string>Peru</string>
	<string>Bolivia</string>
	<string>Alemania</string>
	<string>Francia</string>
	<string>Ecuador</string>
	<string>España</string>
	<string>China</string>
</array>
</plist>
